In [34]:
#import dependencies
import pandas as pd
import datetime as dt
from time import strptime
import re

In [35]:
# CSV files to load
csv_hotness = "Market_Hotness.csv"

In [36]:
# Read in Files and store into Pandas data frames
df_hotness = pd.read_csv(csv_hotness)
df_hotness.head()

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_days_on_market_yy,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us
0,202104,28269,"charlotte, nc",45,209,432.0,232.0,92.974355,89.159301,96.789409,...,-0.611940,-20.5,-30.0,0.888268,2.448980,3.7556,305000.0,0.031276,0.140187,0.8133
1,202104,28213,"charlotte, nc",1585,248,313.0,-206.0,92.375837,91.236276,93.515399,...,-0.560000,-14.0,-32.0,0.497076,0.347368,2.8444,280117.5,0.046503,0.436500,0.7470
2,202104,28215,"charlotte, nc",492,302,1622.0,640.0,91.642554,89.551706,93.733402,...,-0.671053,-25.5,-30.5,0.733333,2.095238,2.8889,330450.0,-0.064020,0.291325,0.8812
3,202104,28262,"charlotte, nc",1328,306,552.0,-157.0,91.587063,89.551706,93.622419,...,-0.444444,-10.0,-30.5,0.264706,1.504854,2.8667,370700.0,0.019807,0.366057,0.9885
4,202104,28214,"charlotte, nc",2030,394,938.0,96.0,90.407864,84.898331,95.917397,...,-0.521127,-18.5,-26.0,0.288703,2.019608,3.4222,290000.0,-0.086614,0.050744,0.7733

In [37]:
df_hotness.tail()

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_days_on_market_yy,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us
1075,201708,28202,"charlotte, nc",7277,4660,NaN,NaN,67.577293,68.814717,66.339869,...,NaN,NaN,-11.0,NaN,NaN,1.2778,330000.0,NaN,NaN,1.1828
1076,201708,28278,"charlotte, nc",5032,4818,NaN,NaN,66.936550,61.089080,72.784020,...,NaN,NaN,-4.0,NaN,NaN,1.4444,421555.0,NaN,NaN,1.5109
1077,201708,28207,"charlotte, nc",9623,4998,NaN,NaN,66.196666,45.634134,86.759198,...,NaN,NaN,11.5,NaN,NaN,2.0556,1100000.0,NaN,NaN,3.9427
1078,201708,28226,"charlotte, nc",1124,5030,NaN,NaN,66.022252,50.319454,81.725050,...,NaN,NaN,6.5,NaN,NaN,1.7778,611800.0,NaN,NaN,2.1928
1079,201708,28211,"charlotte, nc",2613,6340,NaN,NaN,59.732320,40.258500,79.206139,...,NaN,NaN,18.0,NaN,NaN,1.6667,782000.0,NaN,NaN,2.8029

In [38]:
# Print all column names for reference
for col in df_hotness.columns:
    print(col)

month_date_yyyymm
postal_code
zip_name
nielsen_hh_rank
hotness_rank
hotness_rank_mm
hotness_rank_yy
hotness_score
supply_score
demand_score
median_days_on_market
median_days_on_market_mm
median_dom_mm_day
median_days_on_market_yy
median_dom_yy_day
median_dom_vs_us
ldp_unique_viewers_per_property_mm
ldp_unique_viewers_per_property_yy
ldp_unique_viewers_per_property_vs_us
median_listing_price
median_listing_price_mm
median_listing_price_yy
median_listing_price_vs_us

In [39]:
# Separate Month and Year into separate columns/values 
df_hotness['month_date_yyyymm'] = df_hotness['month_date_yyyymm'].apply(str)
df_hotness['Year'] = df_hotness.month_date_yyyymm.str.slice(stop=4)
df_hotness['Month'] = df_hotness.month_date_yyyymm.str.slice(start=4)

In [40]:
df_hotness['Date'] = df_hotness['Month'].map(str) + df_hotness['Year'].map(str)
df_hotness.head()

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,Year,Month,Date
0,202104,28269,"charlotte, nc",45,209,432.0,232.0,92.974355,89.159301,96.789409,...,0.888268,2.448980,3.7556,305000.0,0.031276,0.140187,0.8133,2021,04,042021
1,202104,28213,"charlotte, nc",1585,248,313.0,-206.0,92.375837,91.236276,93.515399,...,0.497076,0.347368,2.8444,280117.5,0.046503,0.436500,0.7470,2021,04,042021
2,202104,28215,"charlotte, nc",492,302,1622.0,640.0,91.642554,89.551706,93.733402,...,0.733333,2.095238,2.8889,330450.0,-0.064020,0.291325,0.8812,2021,04,042021
3,202104,28262,"charlotte, nc",1328,306,552.0,-157.0,91.587063,89.551706,93.622419,...,0.264706,1.504854,2.8667,370700.0,0.019807,0.366057,0.9885,2021,04,042021
4,202104,28214,"charlotte, nc",2030,394,938.0,96.0,90.407864,84.898331,95.917397,...,0.288703,2.019608,3.4222,290000.0,-0.086614,0.050744,0.7733,2021,04,042021

In [41]:
df_hotness['Date'] =  pd.to_datetime(df_hotness['Date'], format='%m%Y')
df_hotness.head()

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,Year,Month,Date
0,202104,28269,"charlotte, nc",45,209,432.0,232.0,92.974355,89.159301,96.789409,...,0.888268,2.448980,3.7556,305000.0,0.031276,0.140187,0.8133,2021,04,2021-04-01
1,202104,28213,"charlotte, nc",1585,248,313.0,-206.0,92.375837,91.236276,93.515399,...,0.497076,0.347368,2.8444,280117.5,0.046503,0.436500,0.7470,2021,04,2021-04-01
2,202104,28215,"charlotte, nc",492,302,1622.0,640.0,91.642554,89.551706,93.733402,...,0.733333,2.095238,2.8889,330450.0,-0.064020,0.291325,0.8812,2021,04,2021-04-01
3,202104,28262,"charlotte, nc",1328,306,552.0,-157.0,91.587063,89.551706,93.622419,...,0.264706,1.504854,2.8667,370700.0,0.019807,0.366057,0.9885,2021,04,2021-04-01
4,202104,28214,"charlotte, nc",2030,394,938.0,96.0,90.407864,84.898331,95.917397,...,0.288703,2.019608,3.4222,290000.0,-0.086614,0.050744,0.7733,2021,04,2021-04-01

In [42]:
# Update Month from numeric to descriptive text
df_hotness['Month'] = df_hotness['Month'].str.replace('12', 'December')
df_hotness['Month'] = df_hotness['Month'].str.replace('11', 'November')
df_hotness['Month'] = df_hotness['Month'].str.replace('10', 'October')
df_hotness['Month'] = df_hotness['Month'].str.replace('01', 'January')
df_hotness['Month'] = df_hotness['Month'].str.replace('02', 'February')
df_hotness['Month'] = df_hotness['Month'].str.replace('03', 'March')
df_hotness['Month'] = df_hotness['Month'].str.replace('04', 'April')
df_hotness['Month'] = df_hotness['Month'].str.replace('05', 'May')
df_hotness['Month'] = df_hotness['Month'].str.replace('06', 'June')
df_hotness['Month'] = df_hotness['Month'].str.replace('07', 'July')
df_hotness['Month'] = df_hotness['Month'].str.replace('08', 'August')
df_hotness['Month'] = df_hotness['Month'].str.replace('09', 'September')

In [43]:
# Format price columns with dollar signs, commas and decimal point
df_hotness["median_listing_price"] = df_hotness["median_listing_price"].map("${:,.2f}".format)

In [44]:
# Split City and State into separate columns 
df_hotness[['City', 'State']] = df_hotness.zip_name.str.split(",",expand=True)

In [45]:
# Update format for scores to two decimal points 
df_hotness["hotness_score"] = df_hotness["hotness_score"].map("{:.2f}".format)
df_hotness["supply_score"] = df_hotness["supply_score"].map("{:.2f}".format)
df_hotness["demand_score"] = df_hotness["demand_score"].map("{:.2f}".format)
df_hotness["ldp_unique_viewers_per_property_vs_us"] = df_hotness["ldp_unique_viewers_per_property_vs_us"].map("{:.2f}".format)
df_hotness["median_listing_price_vs_us"] = df_hotness["median_listing_price_vs_us"].map("{:.2f}".format)

In [46]:
df_hotness.head()

,month_date_yyyymm,postal_code,zip_name,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,Year,Month,Date,City,State
0,202104,28269,"charlotte, nc",45,209,432.0,232.0,92.97,89.16,96.79,...,3.76,"$305,000.00",0.031276,0.140187,0.81,2021,April,2021-04-01,charlotte,nc
1,202104,28213,"charlotte, nc",1585,248,313.0,-206.0,92.38,91.24,93.52,...,2.84,"$280,117.50",0.046503,0.436500,0.75,2021,April,2021-04-01,charlotte,nc
2,202104,28215,"charlotte, nc",492,302,1622.0,640.0,91.64,89.55,93.73,...,2.89,"$330,450.00",-0.064020,0.291325,0.88,2021,April,2021-04-01,charlotte,nc
3,202104,28262,"charlotte, nc",1328,306,552.0,-157.0,91.59,89.55,93.62,...,2.87,"$370,700.00",0.019807,0.366057,0.99,2021,April,2021-04-01,charlotte,nc
4,202104,28214,"charlotte, nc",2030,394,938.0,96.0,90.41,84.90,95.92,...,3.42,"$290,000.00",-0.086614,0.050744,0.77,2021,April,2021-04-01,charlotte,nc

In [50]:
# Create new dataframe to include columns of interest from original Dataframe.
df_hotness_clean = df_hotness[["month_date_yyyymm",
                         "Date",
                         "Year",
                         "Month",
                         "postal_code",
                         "City",
                         "State",
                         "median_listing_price", 
                         "nielsen_hh_rank",
                         "hotness_rank", 
                         "hotness_score", 
                         "supply_score", 
                         "demand_score",
                         "median_days_on_market",
                         "median_dom_vs_us",
                         "ldp_unique_viewers_per_property_vs_us",
                         "median_listing_price_vs_us"]]

df_hotness_clean.head()

,month_date_yyyymm,Date,Year,Month,postal_code,City,State,median_listing_price,nielsen_hh_rank,hotness_rank,hotness_score,supply_score,demand_score,median_days_on_market,median_dom_vs_us,ldp_unique_viewers_per_property_vs_us,median_listing_price_vs_us
0,202104,2021-04-01,2021,April,28269,charlotte,nc,"$305,000.00",45,209,92.97,89.16,96.79,13.0,-30.0,3.76,0.81
1,202104,2021-04-01,2021,April,28213,charlotte,nc,"$280,117.50",1585,248,92.38,91.24,93.52,11.0,-32.0,2.84,0.75
2,202104,2021-04-01,2021,April,28215,charlotte,nc,"$330,450.00",492,302,91.64,89.55,93.73,12.5,-30.5,2.89,0.88
3,202104,2021-04-01,2021,April,28262,charlotte,nc,"$370,700.00",1328,306,91.59,89.55,93.62,12.5,-30.5,2.87,0.99
4,202104,2021-04-01,2021,April,28214,charlotte,nc,"$290,000.00",2030,394,90.41,84.90,95.92,17.0,-26.0,3.42,0.77

In [51]:
# Rename column Names
df_hotness_renamed = df_hotness_clean.rename(columns={"month_date_yyyymm": "Year/Month", 
                                                "postal_code": "Zip Code", 
                                                "median_listing_price": "Median Listing Price",
                                                "nielsen_hh_rank": "Household Count Rank",
                                                "hotness_rank": "Hotness Rank",
                                                "hotness_score": "Hotness Score",
                                                "supply_score": "Supply Score",
                                                "demand_score": "Demand Score",
                                                "median_days_on_market": "Median Days on Market (DOM)",
                                                "median_dom_vs_us": "Median DOM vs. US",
                                                "ldp_unique_viewers_per_property_vs_us": "Viewers per Property vs. US",
                                                "median_listing_price_vs_us": "Median List Price vs. US"})
df_hotness_renamed.head()

,Year/Month,Date,Year,Month,Zip Code,City,State,Median Listing Price,Household Count Rank,Hotness Rank,Hotness Score,Supply Score,Demand Score,Median Days on Market (DOM),Median DOM vs. US,Viewers per Property vs. US,Median List Price vs. US
0,202104,2021-04-01,2021,April,28269,charlotte,nc,"$305,000.00",45,209,92.97,89.16,96.79,13.0,-30.0,3.76,0.81
1,202104,2021-04-01,2021,April,28213,charlotte,nc,"$280,117.50",1585,248,92.38,91.24,93.52,11.0,-32.0,2.84,0.75
2,202104,2021-04-01,2021,April,28215,charlotte,nc,"$330,450.00",492,302,91.64,89.55,93.73,12.5,-30.5,2.89,0.88
3,202104,2021-04-01,2021,April,28262,charlotte,nc,"$370,700.00",1328,306,91.59,89.55,93.62,12.5,-30.5,2.87,0.99
4,202104,2021-04-01,2021,April,28214,charlotte,nc,"$290,000.00",2030,394,90.41,84.90,95.92,17.0,-26.0,3.42,0.77

In [52]:
# Export file as a CSV < without the pandas index, but with the header
df_hotness_renamed.to_csv("Cleaned_Data/MarketHotness_cleaned.csv", index=False, header=True)