In [122]:
#import dependencies
import pandas as pd
import datetime as dt
from time import strptime
import re

In [123]:
# CSV files to load
csv_2016 = "Historical_2016_Data.csv"

In [124]:
# Read in Files and store into Pandas data frames
df_2016 = pd.read_csv(csv_2016)

In [125]:
df_2016.head()

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202104,28213,"charlotte, nc",*,280117.5,0.0465,NaN,16,0.2308,-0.6444,...,0.2907,2.857100e+05,0.1141,0.3077,44,0.0233,-0.3889,1.750000,-0.5577,1.1500
1,202104,28262,"charlotte, nc",NaN,370700.0,0.0198,0.3661,13,0.1818,-0.7234,...,0.0312,3.376301e+05,-0.0206,0.2327,39,-0.0488,-0.4800,2.000000,-0.7273,1.4043
2,202104,28207,"charlotte, nc",NaN,1299250.0,0.0002,-0.0534,52,-0.0370,0.0833,...,-0.1548,1.530405e+06,0.0858,0.0639,97,0.0430,0.3288,0.865385,0.1432,0.3446
3,202104,28202,"charlotte, nc",NaN,409950.0,0.0250,0.1715,85,0.0625,0.2500,...,0.0800,5.597911e+05,-0.0316,0.1577,126,0.0413,0.3548,0.482353,-0.0301,0.1147
4,202104,28226,"charlotte, nc",*,630517.5,-0.1593,0.1110,52,0.0400,NaN,...,-0.0154,9.490396e+05,-0.0891,0.1945,130,0.0833,-0.3367,1.500000,0.1000,0.9806

In [126]:
df_2016.tail()

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
1342,201607,28207,"charlotte, nc",NaN,1100000.0,NaN,NaN,86,NaN,NaN,...,NaN,1.261453e+06,NaN,NaN,118,NaN,NaN,0.372093,NaN,NaN
1343,201607,28216,"charlotte, nc",NaN,160000.0,NaN,NaN,114,NaN,NaN,...,NaN,2.390767e+05,NaN,NaN,219,NaN,NaN,0.921053,NaN,NaN
1344,201607,28262,"charlotte, nc",NaN,199900.0,NaN,NaN,62,NaN,NaN,...,NaN,2.377377e+05,NaN,NaN,113,NaN,NaN,0.822581,NaN,NaN
1345,201607,28215,"charlotte, nc",NaN,169000.0,NaN,NaN,78,NaN,NaN,...,NaN,1.877021e+05,NaN,NaN,211,NaN,NaN,1.705128,NaN,NaN
1346,201607,28204,"charlotte, nc",NaN,499999.0,NaN,NaN,30,NaN,NaN,...,NaN,5.546247e+05,NaN,NaN,49,NaN,NaN,0.633333,NaN,NaN

In [127]:
df_2016.dtypes

month_date_yyyymm                            int64
postal_code                                  int64
zip_name                                    object
flag                                        object
median_listing_price                       float64
median_listing_price_mm                    float64
median_listing_price_yy                    float64
active_listing_count                         int64
active_listing_count_mm                    float64
active_listing_count_yy                    float64
median_days_on_market                      float64
median_days_on_market_mm                   float64
median_days_on_market_yy                   float64
new_listing_count                            int64
new_listing_count_mm                       float64
new_listing_count_yy                       float64
price_increased_count                        int64
price_increased_count_mm                   float64
price_increased_count_yy                   float64
price_reduced_count                          int64
price_reduced_count_mm                     float64
price_reduced_count_yy                     float64
pending_listing_count                        int64
pending_listing_count_mm                   float64
pending_listing_count_yy                   float64
median_listing_price_per_square_foot       float64
median_listing_price_per_square_foot_mm    float64
median_listing_price_per_square_foot_yy    float64
median_square_feet                         float64
median_square_feet_mm                      float64
median_square_feet_yy                      float64
average_listing_price                      float64
average_listing_price_mm                   float64
average_listing_price_yy                   float64
total_listing_count                          int64
total_listing_count_mm                     float64
total_listing_count_yy                     float64
pending_ratio                              float64
pending_ratio_mm                           float64
pending_ratio_yy                           float64
dtype: object

In [128]:
# Separate Month and Year into separate columns/values 
df_2016['month_date_yyyymm'] = df_2016['month_date_yyyymm'].apply(str)
df_2016['Year'] = df_2016.month_date_yyyymm.str.slice(stop=4)
df_2016['Month'] = df_2016.month_date_yyyymm.str.slice(start=4)

In [129]:
# Update Month from numeric to descriptive text
df_2016['Month'] = df_2016['Month'].str.replace('12', 'December')
df_2016['Month'] = df_2016['Month'].str.replace('11', 'November')
df_2016['Month'] = df_2016['Month'].str.replace('10', 'October')
df_2016['Month'] = df_2016['Month'].str.replace('01', 'January')
df_2016['Month'] = df_2016['Month'].str.replace('02', 'February')
df_2016['Month'] = df_2016['Month'].str.replace('03', 'March')
df_2016['Month'] = df_2016['Month'].str.replace('04', 'April')
df_2016['Month'] = df_2016['Month'].str.replace('05', 'May')
df_2016['Month'] = df_2016['Month'].str.replace('06', 'June')
df_2016['Month'] = df_2016['Month'].str.replace('07', 'July')
df_2016['Month'] = df_2016['Month'].str.replace('08', 'August')
df_2016['Month'] = df_2016['Month'].str.replace('09', 'September')

In [130]:
# Format price columns with dollar signs, commas and decimal point
df_2016["median_listing_price"] = df_2016["median_listing_price"].map("${:,.2f}".format)
df_2016["average_listing_price"] = df_2016["average_listing_price"].map("${:,.2f}".format)
df_2016["median_listing_price_per_square_foot"] = df_2016["median_listing_price_per_square_foot"].map("${:,.2f}".format)

In [131]:
# Format Median Square Feet column to include comma for thousands separator 
df_2016["median_square_feet"] = df_2016["median_square_feet"].map("{:,}".format)

In [132]:
# Split City and State into separate columns 
df_2016[['City', 'State']] = df_2016.zip_name.str.split(",",expand=True)

In [133]:
# Update respective columns to percentage values 
df_2016["median_listing_price_mm"] = 100 * df_2016["median_listing_price_mm"]
df_2016["median_listing_price_mm"] = df_2016["median_listing_price_mm"].map("{:.2f}%".format)

In [134]:
df_2016.head(50)

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,Year,Month,City,State
0,202104,28213,"charlotte, nc",*,"$280,117.50",4.65%,NaN,16,0.2308,-0.6444,...,44,0.0233,-0.3889,1.750000,-0.5577,1.1500,2021,April,charlotte,nc
1,202104,28262,"charlotte, nc",NaN,"$370,700.00",1.98%,0.3661,13,0.1818,-0.7234,...,39,-0.0488,-0.4800,2.000000,-0.7273,1.4043,2021,April,charlotte,nc
2,202104,28207,"charlotte, nc",NaN,"$1,299,250.00",0.02%,-0.0534,52,-0.0370,0.0833,...,97,0.0430,0.3288,0.865385,0.1432,0.3446,2021,April,charlotte,nc
3,202104,28202,"charlotte, nc",NaN,"$409,950.00",2.50%,0.1715,85,0.0625,0.2500,...,126,0.0413,0.3548,0.482353,-0.0301,0.1147,2021,April,charlotte,nc
4,202104,28226,"charlotte, nc",*,"$630,517.50",-15.93%,0.1110,52,0.0400,NaN,...,130,0.0833,-0.3367,1.500000,0.1000,0.9806,2021,April,charlotte,nc
5,202104,28208,"charlotte, nc",*,"$402,450.00",1.05%,NaN,38,-0.2400,NaN,...,154,-0.0314,0.0476,3.052632,0.8726,2.3026,2021,April,charlotte,nc
6,202104,28278,"charlotte, nc",*,"$597,901.50",-1.01%,NaN,45,0.0000,-0.6642,...,95,-0.1880,-0.5153,1.111111,-0.4889,0.6484,2021,April,charlotte,nc
7,202104,28203,"charlotte, nc",NaN,"$532,000.00",13.87%,-0.1314,51,0.2439,0.2143,...,111,0.0183,0.3704,1.176471,-0.4821,0.2479,2021,April,charlotte,nc
8,202104,28227,"charlotte, nc",*,"$352,470.00",-11.44%,NaN,31,0.1481,NaN,...,75,0.0417,-0.4863,1.419355,-0.2473,0.9446,2021,April,charlotte,nc
9,202104,28277,"charlotte, nc",NaN,"$496,147.00",-1.26%,0.1039,49,0.2250,-0.5739,...,126,0.1250,-0.4000,1.571429,-0.2286,0.7453,2021,April,charlotte,nc
10,202104,28211,"charlotte, nc",NaN,"$1,024,500.00",-10.89%,0.2814,77,0.0132,-0.3889,...,158,0.1206,-0.1640,1.051948,0.1967,0.5519,2021,April,charlotte,nc
11,202104,28217,"charlotte, nc",NaN,"$360,117.50",-2.85%,0.5005,13,-0.0714,0.0833,...,28,0.2174,0.2727,1.153846,0.5110,0.3205,2021,April,charlotte,nc
12,202104,28269,"charlotte, nc",*,"$305,000.00",3.13%,0.1402,28,0.2727,-0.7705,...,82,0.0649,-0.5980,1.928571,-0.5714,1.2564,2021,April,charlotte,nc
13,202104,28215,"charlotte, nc",*,"$330,450.00",-6.40%,NaN,22,-0.2414,NaN,...,252,-0.0935,0.2857,10.454545,1.8683,9.4945,2021,April,charlotte,nc
14,202104,28270,"charlotte, nc",*,"$734,950.00",2.08%,NaN,26,0.3684,-0.6119,...,62,0.0508,-0.4746,1.384615,-0.7206,0.6234,2021,April,charlotte,nc
15,202104,28205,"charlotte, nc",*,"$463,140.00",-0.40%,0.0825,64,-0.0588,NaN,...,171,0.1400,-0.3936,1.671875,0.4660,0.9731,2021,April,charlotte,nc
16,202104,28204,"charlotte, nc",NaN,"$630,311.50",15.04%,0.2443,24,-0.2941,0.1429,...,61,-0.0758,0.4878,1.541667,0.6005,0.5893,2021,April,charlotte,nc
17,202104,28216,"charlotte, nc",*,"$284,950.00",7.02%,0.1398,23,0.0000,NaN,...,90,-0.0426,-0.2683,2.913043,-0.1739,2.1559,2021,April,charlotte,nc
18,202104,28209,"charlotte, nc",NaN,"$734,000.00",0.96%,0.2677,49,-0.1404,-0.4674,...,113,-0.1630,-0.1986,1.306122,-0.0623,0.7735,2021,April,charlotte,nc
19,202104,28214,"charlotte, nc",*,"$290,000.00",-8.66%,NaN,16,-0.1579,NaN,...,53,-0.2206,-0.6624,2.312500,-0.2664,1.6599,2021,April,charlotte,nc
20,202104,28210,"charlotte, nc",*,"$447,000.00",1.60%,NaN,40,-0.1489,NaN,...,135,-0.0074,-0.2663,2.375000,0.4814,1.6554,2021,April,charlotte,nc
21,202103,28205,"charlotte, nc",NaN,"$465,000.00",1.99%,0.0640,68,-0.1169,-0.5723,...,150,-0.1329,-0.5114,1.205882,-0.0409,0.2751,2021,March,charlotte,nc
22,202103,28226,"charlotte, nc",NaN,"$750,000.00",-11.22%,0.2346,50,-0.1525,-0.6000,...,120,-0.0909,-0.4419,1.400000,0.1627,0.6800,2021,March,charlotte,nc
23,202103,28202,"charlotte, nc",NaN,"$399,950.00",-7.53%,0.0526,80,-0.0588,0.2698,...,121,-0.0163,0.2604,0.512500,0.0654,-0.0113,2021,March,charlotte,nc
24,202103,28227,"charlotte, nc",*,"$398,000.00",13.42%,NaN,27,-0.3415,NaN,...,72,-0.0886,-0.5068,1.666667,0.7398,0.9286,2021,March,charlotte,nc
25,202103,28203,"charlotte, nc",*,"$467,200.00",7.43%,NaN,41,-0.0682,-0.0465,...,109,0.0000,0.1978,1.658537,0.1813,0.5423,2021,March,charlotte,nc
26,202103,28277,"charlotte, nc",NaN,"$502,462.50",3.56%,0.1142,40,-0.1111,-0.6429,...,112,0.0000,-0.5214,1.800000,0.3111,0.7107,2021,March,charlotte,nc
27,202103,28211,"charlotte, nc",NaN,"$1,149,750.00",8.73%,0.2103,76,-0.1364,-0.3920,...,141,-0.0600,-0.3318,0.855263,0.1507,0.1673,2021,March,charlotte,nc
28,202103,28214,"charlotte, nc",*,"$317,500.00",0.79%,NaN,19,-0.3214,NaN,...,68,-0.0286,-0.5556,2.578947,1.0789,1.5114,2021,March,charlotte,nc
29,202103,28269,"charlotte, nc",*,"$295,750.00",2.34%,0.0469,22,-0.3889,-0.7843,...,77,-0.1538,-0.6516,2.500000,0.9722,1.3333,2021,March,charlotte,nc
30,202103,28270,"charlotte, nc",*,"$720,000.00",7.87%,NaN,19,0.0000,NaN,...,59,-0.1061,-0.5630,2.105263,-0.3684,1.1487,2021,March,charlotte,nc
31,202103,28210,"charlotte, nc",*,"$439,950.00",-1.13%,-0.0223,47,0.0930,-0.5877,...,136,-0.0073,-0.3645,1.893617,-0.2924,1.0164,2021,March,charlotte,nc
32,202103,28208,"charlotte, nc",NaN,"$398,250.00",13.81%,0.6123,50,-0.2754,-0.0385,...,159,-0.0592,0.2045,2.180000,0.7307,0.6415,2021,March,charlotte,nc
33,202103,28278,"charlotte, nc",*,"$603,975.00",13.30%,NaN,45,0.0976,NaN,...,117,0.3448,-0.4608,1.600000,0.4780,0.9308,2021,March,charlotte,nc
34,202103,28204,"charlotte, nc",NaN,"$547,910.00",21.99%,-0.1120,34,0.3600,0.5455,...,66,0.1000,0.4667,0.941176,-0.4588,-0.1043,2021,March,charlotte,nc
35,202103,28217,"charlotte, nc",*,"$370,670.00",1.30%,NaN,14,0.0000,NaN,...,23,-0.0800,0.2778,0.642857,-0.1429,-0.3571,2021,March,charlotte,nc
36,202103,28213,"charlotte, nc",NaN,"$267,670.00",51.70%,0.3479,13,-0.1333,-0.5806,...,43,-0.0227,-0.3385,2.307692,0.3744,1.2109,2021,March,charlotte,nc
37,202103,28209,"charlotte, nc",NaN,"$727,000.00",13.61%,0.0544,57,-0.1739,-0.2597,...,135,0.0385,-0.0288,1.368421,0.4844,0.5632,2021,March,charlotte,nc
38,202103,28207,"charlotte, nc",*,"$1,299,000.00",5.18%,-0.1717,54,-0.0182,-0.0526,...,93,-0.0606,0.0941,0.722222,-0.0778,0.2310,2021,March,charlotte,nc
39,202103,28215,"charlotte, nc",*,"$353,052.50",20.70%,NaN,29,-0.4821,NaN,...,278,0.3831,0.4787,8.586207,5.9969,7.0457,2021,March,charlotte,nc
40,202103,28216,"charlotte, nc",*,"$266,250.00",4.84%,0.0758,23,-0.2333,NaN,...,94,-0.0600,-0.2231,3.086957,0.7536,2.0361,2021,March,charlotte,nc
41,202103,28273,"charlotte, nc",NaN,"$310,000.00",-5.75%,0.0877,14,-0.1250,-0.5625,...,38,-0.1739,-0.4493,1.714286,-0.1607,0.5580,2021,March,charlotte,nc
42,202102,28277,"charlotte, nc",*,"$485,202.50",10.03%,0.1284,45,-0.0625,-0.5631,...,112,-0.0820,-0.4428,1.488889,-0.0528,0.5374,2021,February,charlotte,nc
43,202102,28273,"charlotte, nc",NaN,"$328,915.00",1.36%,0.1541,16,-0.1579,-0.4667,...,46,0.0455,-0.3521,1.875000,0.5592,0.5083,2021,February,charlotte,nc
44,202102,28202,"charlotte, nc",*,"$432,500.00",-1.48%,NaN,85,0.0366,NaN,...,123,0.1182,0.2947,0.447059,0.1056,-0.2494,2021,February,charlotte,nc
45,202102,28227,"charlotte, nc",NaN,"$350,900.00",1.45%,-0.0887,41,0.0000,-0.5176,...,79,0.0000,-0.4437,0.926829,0.0000,0.2562,2021,February,charlotte,nc
46,202102,28214,"charlotte, nc",NaN,"$315,000.00",-2.89%,0.1776,28,0.0769,-0.6627,...,70,-0.0789,-0.6196,1.500000,-0.4231,0.2831,2021,February,charlotte,nc
47,202102,28213,"charlotte, nc",NaN,"$176,450.00",-32.11%,-0.1887,15,0.2500,-0.5455,...,44,0.1892,-0.2542,1.933333,-0.1500,1.1455,2021,February,charlotte,nc
48,202102,28262,"charlotte, nc",NaN,"$350,050.00",5.21%,0.4002,17,-0.3704,-0.3462,...,53,-0.0185,0.1042,2.117647,1.1176,1.2715,2021,February,charlotte,nc
49,202102,28205,"charlotte, nc",*,"$455,932.00",0.60%,0.0427,77,-0.1444,-0.5600,...,173,-0.0114,-0.4290,1.246753,0.3023,0.5153,2021,February,charlotte,nc

In [135]:
# Print all column names for reference
for col in df_2016.columns:
    print(col)

month_date_yyyymm
postal_code
zip_name
flag
median_listing_price
median_listing_price_mm
median_listing_price_yy
active_listing_count
active_listing_count_mm
active_listing_count_yy
median_days_on_market
median_days_on_market_mm
median_days_on_market_yy
new_listing_count
new_listing_count_mm
new_listing_count_yy
price_increased_count
price_increased_count_mm
price_increased_count_yy
price_reduced_count
price_reduced_count_mm
price_reduced_count_yy
pending_listing_count
pending_listing_count_mm
pending_listing_count_yy
median_listing_price_per_square_foot
median_listing_price_per_square_foot_mm
median_listing_price_per_square_foot_yy
median_square_feet
median_square_feet_mm
median_square_feet_yy
average_listing_price
average_listing_price_mm
average_listing_price_yy
total_listing_count
total_listing_count_mm
total_listing_count_yy
pending_ratio
pending_ratio_mm
pending_ratio_yy
Year
Month
City
State

In [136]:
df_2016_clean = df_2016[["month_date_yyyymm",
                         "Year",
                         "Month",
                         "postal_code",
                         "City",
                         "State",
                         "median_listing_price", 
                         "average_listing_price",
                         "active_listing_count", 
                         "median_days_on_market", 
                         "new_listing_count", 
                         "price_increased_count",
                         "price_reduced_count",
                         "pending_listing_count",
                         "median_listing_price_per_square_foot",
                         "median_square_feet",
                         "total_listing_count",
                         "pending_ratio"]]
df_2016_clean.head()

,month_date_yyyymm,Year,Month,postal_code,City,State,median_listing_price,average_listing_price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_foot,median_square_feet,total_listing_count,pending_ratio
0,202104,2021,April,28213,charlotte,nc,"$280,117.50","$285,710.02",16,11.0,36,0,0,28,$138.05,"2,109.0",44,1.750000
1,202104,2021,April,28262,charlotte,nc,"$370,700.00","$337,630.05",13,12.5,12,0,0,26,$162.75,"2,262.0",39,2.000000
2,202104,2021,April,28207,charlotte,nc,"$1,299,250.00","$1,530,404.68",52,90.5,20,0,12,45,$447.01,"2,740.5",97,0.865385
3,202104,2021,April,28202,charlotte,nc,"$409,950.00","$559,791.09",85,48.0,28,0,20,41,$343.04,"1,221.5",126,0.482353
4,202104,2021,April,28226,charlotte,nc,"$630,517.50","$949,039.63",52,38.5,48,4,16,78,$231.56,"2,870.0",130,1.500000

In [137]:
df_2016_renamed = df_2016_clean.rename(columns={"month_date_yyyymm": "Year/Month", 
                                                "postal_code": "Zip Code", 
                                                "median_listing_price": "Median Listing Price",
                                                "average_listing_price": "Average Listing Price",
                                                "active_listing_count": "Active Listing Count", 
                                                "median_days_on_market": "Median Days on Market",
                                                "new_listing_count": "New Listing Count",
                                                "price_increased_count": "Price Increased Count",
                                                "price_reduced_count": "Price Reduced Count",
                                                "pending_listing_count": "Pending Listing Count",
                                                "median_listing_price_per_square_foot": "Median Price per Square Foot (List Price)",
                                                "median_square_feet": "Median Square Feet",
                                                "total_listing_count": "Total Listing Count",
                                                "pending_ratio": "Pending Ratio"})
df_2016_renamed.head()

,Year/Month,Year,Month,Zip Code,City,State,Median Listing Price,Average Listing Price,Active Listing Count,Median Days on Market,New Listing Count,Price Increased Count,Price Reduced Count,Pending Listing Count,Median Price per Square Foot (List Price),Median Square Feet,Total Listing Count,Pending Ratio
0,202104,2021,April,28213,charlotte,nc,"$280,117.50","$285,710.02",16,11.0,36,0,0,28,$138.05,"2,109.0",44,1.750000
1,202104,2021,April,28262,charlotte,nc,"$370,700.00","$337,630.05",13,12.5,12,0,0,26,$162.75,"2,262.0",39,2.000000
2,202104,2021,April,28207,charlotte,nc,"$1,299,250.00","$1,530,404.68",52,90.5,20,0,12,45,$447.01,"2,740.5",97,0.865385
3,202104,2021,April,28202,charlotte,nc,"$409,950.00","$559,791.09",85,48.0,28,0,20,41,$343.04,"1,221.5",126,0.482353
4,202104,2021,April,28226,charlotte,nc,"$630,517.50","$949,039.63",52,38.5,48,4,16,78,$231.56,"2,870.0",130,1.500000

In [138]:
# Export file as a CSV < without the pandas index, but with the header
df_2016_renamed.to_csv("Cleaned_Data/historical_2016_cleaned.csv", index=False, header=True)